/*GLOBAL STYLES*/

body {
  background-color: #FCFCFC;
}

h4, a {
  font-family: 'Helvetica Neue', 'Open Sans' , sans-serif;
  font-weight: 300;
}

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none !important;
  outline: 0 !important;
  color: #fff !important;
}

img {
  width: 175px;
  margin: 10px 0 30px 96.25px;
  display: inline-block;
}

button {
  width: 100%;
}

/*BOOTSTRAP OVERRIDES*/

.row {
  margin: 0;
}

.btn {
  color: #fff;
  display: block;
}

.btn:hover {
  color: #fff;
}

/*CUSTOM STYLES*/

#main {
  padding: 20px;
  width: 400px;
  height: auto;
  background-color: #FCFCFC;
}

#station {
  margin-top: 5px;
}

#buttons a {
  margin-bottom: 10px;
}

.button-col-right {
  padding: 0 0 0 5px;
}

.button-col-left {
  padding: 0 5px 0 0;
}

.attendance-in {
  background-color: #00B3B4;
}

.attendance-out {
  background-color: #D9230F;
}

.epicenter-in {
  background-color: #029ACF;
}

.epicodus-forum {
  background-color: #0088CC;
}

.learn-how-to-program {
  background-color: #353535;
}

.queue {
  background-color: #f05a26;
}
